<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h2 {
            text-align: center;
        }
        .box{
            background-color: aqua;
            height: 100vh;
            width: 100vw;
        }
    </style>
</head>

<body>
    <div class="box">
        <h2>Register</h2>
        <form action="/register" method="POSt">
            <label>Email : </label>
            <input type="email" name="email" id="email" placeholder="Enter your email">
            <br>
            <label>MobileNumber : </label>
            <input type="number" name="mobile_number" id="mobile_number" placeholder="Enter your number">
            <br>
            <label>FirstName : </label>
            <input type="text" name="firat_name" id="firat_name" placeholder="Enter your email">
            <br>
            <label>LastName : </label>
            <input type="text" name="last_name" id="last_name" placeholder="Enter your email">
            <br>
            <label>CustomerId : </label>
            <input type="number" name="customer_id" id="customer_id" placeholder="Enter your email">
            <br>
            <button type="submit">Register</button>
        </form>
    </div>
</body>

</html>